body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin:0;
  padding:0;
}
body {
  font-family: helvetica;
  background: #fff;
}
body * {
  -webkit-test-size-adjust:100%;
  -webkit-overflow-scrolling: touch;
}
a,button,input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button,input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #2b2a2a;
  display: block;
}
input {
  outline: none;
  vertical-align: middle;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*自定义*/
.van-tabbar {
  height:70px;
  box-shadow: 0px -2px 5px rgba(0,0,0,.04);
}
@font-face {
  font-family: "chen";
  src: url("../font/华康宋体简W12.TTF");
}
.van-tabs__line {
  background-color: #3e84ff!important;
}
.van-tab--active {
  color: #3e84ff;
}
.alertDialog .van-dialog__header {
  margin-bottom: .3rem;
  padding-top: .3rem;
}
.van-tab {
  font-size: .43rem!important;
}
