body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin:0;
  padding:0;
}
body {
  font-family: helvetica;
  background: #fff;
}
body::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.bscroll-indicator {
  background: #fff!important;
  width: 0!important;
}
body * {
  -webkit-test-size-adjust:100%;
  -webkit-overflow-scrolling: touch;
}
a,button,input,optgroup,select,textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button,input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #2b2a2a;
  display: block;
}
input {
  outline: none;
  vertical-align: middle;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*自定义*/
.van-tabbar {
  height:70px;
  box-shadow: 0px -2px 5px rgba(0,0,0,.04);
}
@font-face {
  font-family: "chen";
  src: url("../font/华康宋体简W12.TTF");
}
.van-tabs__line {
  background-color: #3e84ff!important;
}
.van-tab--active {
  color: #3e84ff;
}
.alertDialog .van-dialog__header {
  margin-bottom: .3rem;
  padding-top: .3rem;
}
.van-tab {
  font-size: .43rem!important;
}
.van-tabbar-item__icon {
  margin-bottom: 8px;
}
.van-image-preview__index {
  display: none;
}
.van-radio__input {
  bottom: .4rem;
}
.van-radio .van-icon-checked {
  color: #3e84ff;
}
.van-switch--on {
  background: #3b83ff;
}
textarea{
  resize:none;
  background: #fff;
  width: 100%;
  border: none;
}
.van-checkbox__label {
  width: 8.8rem;
}
.van-checkbox__icon .van-icon {
  width: 22px;
  height: 22px;
  margin-bottom: .55rem;
}
.van-checkbox__icon--checked .van-icon {
  border-color: #3b83ff;
  background-color: #3b83ff;
}
.van-checkbox__icon--round .van-icon {
  border-radius: 15%;
}
.van-checkbox__icon .van-icon {
  width: 20px;
  height: 20px;
  margin-bottom: .4rem;
  /*border:1px solid #d6d6d6;*/
}
